
.deathnotedate{
  font-size: 105px;
  font-family: "Jujutsu Kaisen";
   color:#EA24F5;

   background: transparent;
  font-weight: bold;
}

.kendricklyric{
  font-size: 50px;
  margin-bottom: 30px; 
}
.deathbox{
   

}
