
.deathnotedate{
  font-size: 95px;
  font-family: "monospace";
   color:#F36FA0;

   background: transparent;
  font-weight: bold;
}

.kendricklyric{
  font-size: 50px;
  margin-bottom: 30px; 
}
.deathbox{
   

}
