.mediaart{
  background-size: 100%;
  background-repeat: no-repeat;
}
.mediatitle{
  margin-top:200px;
  font-size: 30px;
 // overflow:hidden;
  //text-overflow: ellipsis;
}
.mediaartist{
  font-size:25px;
  margin-top:200px;
}
.media{
  background: transparent;
}
.media-box{
  background: rgba(0,0,0,0.5);
}