
.image_box{
   background-repeat: no-repeat;
   background-size: 100%;
   background-size: cover;
    background-position: center;
}
.media_text{
    font-size: 25px;
}

.position {
    padding: 0;
    margin-bottom: .3em;
}

.position trough {
    min-height: 8px;
}

.position highlight {
    background-color: @color1;
}

.position slider {
    all: unset;
}